.root {
    main-color: rgb(237, 242, 255);       /* Create a looked-up color called "main-color" within root. */
    -fx-background-image: url("../images/background.jpg");
    -fx-background-size: cover;
}

.text-field {
    -fx-background-color: #d9e2ff;
    -fx-font: 20px "Arial";
}

.button {
    -fx-background-color: deepskyblue;
    -fx-font: bold 16px "Arial";
}

.button:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 0, 0);
    -fx-background-color: cornflowerblue;
}

.button:pressed {
    -fx-background-color:orange;
    -fx-font-size: 20px;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-font-size: 10px;  /* Change width of scroll bar. */
    -fx-background-color: main-color;
}

.scroll-bar .thumb {
    -fx-background-color: #446cff;
    -fx-background-radius: 1em;
}

/* Hides the increment and decrement buttons. */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}

